html 
    head 
        title 
        link(rel="stylesheet", href="style.css")
    body
        nav(class = "navContent")
            ui(class ="navbar")
                li 
                    a(href="/") 
                        button(type = 'submit') Home 
         
                  
        
        form(action="/login", method="post", id='registerContainer')  
            div 
                h1 Log In
            
            div
                label(for="email" ) Email Id
                input(type="email" id = 'email' name = 'email' required) 
            div
                label(for="password") Password
                input(type= "password" id = 'password' name = 'password' required) 
            div 
                button(type = 'submit' id = "submit") Submit 
                a(href="/register") Register
            